

@font-face {
  font-family: 'Stalemate',cursive;
  src: url(https://fonts.googleapis.com/css2?family=Stalemate&display=swap);
}

h1, h2 {
  text-align: center;
}
body {
  background-color: #fffee4

}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #CB4C4E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFFFFF;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #;
  color: white;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.Button {
  align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; <!-- Arranges along the vertical axis, b/c column   -->
    align-items: center;            <!-- Arranges along the horizontal axis, b/c column -->
}

@media only screen and (max-width: 399px) {
    .card {
        flex-direction: row;
    }
}

#instalogo:hover {
  animation: bounce 1s ease;
}

@keyframes bounce {
  0% {transform: scale(1,1);}
  30% {transform: scale(1.25, 0.75);}
  40% {transform: scale(0.75, 1.25);}
  50% {transform: scale(1.15, 0.85);}
  65% {transform: scale(0.95, 1.05);}
  75% {transform: scale(1.05, 0.95);}
  100% {transform: scale(1,1);}
}
